.search__box {
  display: flex;
  border-radius: 27px;
  align-items: center;
  padding-left: 10px;
  box-shadow: var(--box-shadow);
}
.search__box input {
  outline: none;
  border: none !important;
  background: transparent;
  font-size: 16px;
  color: var(--color-text);
  margin: 0 !important;
  width: 100% !important;
  box-shadow: none;
}


.search__box .search__icon {
  color: var(--color-text);
}
