.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}
.tag {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-primary);
  padding: 7px;
  padding-right: 12px;
  border-radius: 20px;
  cursor: pointer;
}
.tag__circle {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: var(--primary-alt);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-alt);
}
.tag:hover .tag__circle {
  color: #fff;
  transition: 0.3s ease;
  cursor: pointer;
  background: var(--color-primary);
}
