.contact {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://img.freepik.com/free-photo/digital-picture-world-from-outer-space_53876-104050.jpg?w=900&t=st=1677941832~exp=1677942432~hmac=4cce5e4782e094c54caf5c996784c4df925dd24f38961491864f6264776e8101)
    no-repeat center center fixed;
  background-size: cover;
}
.contact__box {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
}
.contact__box input,
textarea {
  width: 100%;
  padding: 15px 20px;
  outline: none;
  border-radius: 27px;
  border: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  letter-spacing: 1px;
  background: transparent;
}
.contact__box button {
  width: 100%;
  outline: none;
  border-radius: 27px;
  border: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  background: linear-gradient(45deg, var(--color-primary), var(--primary-alt));
  color: #fff;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__box button:hover {
  background: linear-gradient(45deg, var(--primary-alt), var(--color-primary));
  transition: 0.3s ease-in-out;
}
.btn__login {
  background: linear-gradient(45deg, #63b900, #a0ff33) !important;
  color: #ffffff !important;
}
