.lists {
  margin: 0;
  padding: 0;
}
.list__item {
  margin: 10px 0px;
}
.list__link {
  color: #fff;
  text-decoration: none;
}
.list__item:hover {
  margin-left: 5px;
  transition: 0.3s ease-in-out;
}
