.category {
  margin: 40px 0px;
}
.category__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  padding: 8px 10px;
  padding-left: 20px;
  border-radius: 30px;
}
.category-active {
  box-shadow: var(--box-shadow);
}
.category-active .category__count {
  background: linear-gradient(90deg, var(--color-primary), var(--primary-alt));
  color: #fff;
}
.category__item:hover {
  box-shadow: var(--box-shadow);
  transition: 0.3s ease-in;
}
.category__count {
  padding: 6px 20px;
  background: var(--color-gray);
  border-radius: 20px;
}
.category__item:hover .category__count {
  background: linear-gradient(90deg, var(--color-primary), var(--primary-alt));
  color: #fff;
  transition: 0.3s ease-in;
}
.category__count {
  color: var(--color-primary);
}
