.nav__wrapper {
  box-shadow: var(--box-shadow);
  background: var(--color-white);
  z-index: 100;
}
.nav__brand {
  font-weight: 700;
  font-size: 25px;
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}
.nav-link {
  color: var(--color-text) !important;
}
.nav__brand:hover {
  color: var(--color-primary);
}
.nav__height {
  height: 70px;
}
.user__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.user__avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.toggler {
  color: var(--color-text) !important;
  outline: none !important;
  background: none;
  border: none;
  display: none;
}
.navbar-toggler-icon {
  color: inherit !important;
  font-size: 30px !important;
}

@media screen and (max-width: 991px) {
  .toggler {
    display: block;
  }
}
