@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-primary: #ff6e6e;
  --primary-alt: #ff3c3c;
  --color-gray: #fff0f0;
  --color-dark: #461313;
  --color-text: #202020;
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-text);
}

img {
  max-width: 100%;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.btn {
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
}
.btn__primary {
  color: #fff;
  background: var(--color-primary);
}
